.digits{
  display: flex;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

.btncontainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn{
  padding: 1rem 3rem;
  margin: 1rem;
  border: none;
  color: white;
  background: #333;
  cursor: pointer;
}